* {
  box-sizing: border-box;
}

body {
  background-color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  color: white;
}

h1 {
  font-size: 50px;
  font-weight: normal;
}

a {
  color: aquamarine;
  font-size: 16px;
}

h2 {
  font-size: 42px;
  font-weight: 300;
}

p {
  font-size: 21px;
  color: grey;
}

img {
  display: block;
  margin: 20px auto;
}

footer {
  text-align: right;
  color: grey;
}